/* Width and color of the scrollbar track */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(25 25 25);
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #7842f5;
}

/* Hover effect on the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
    background-color: #7842f5;
}

html{
    scroll-behavior:auto;
}

body {
    scroll-behavior: smooth;
    background-color: rgb(25 25 25);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow:initial;

}

hr{
    color: rgb(100, 95, 95);
    width: 100%;
}
/* Start NAV */
nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 1.2em;
}

nav h1 {
    margin: 0;
    padding: 0;
    font-size: 2.2em;
    font-family: "Moirai One", system-ui;
    font-weight: 400;
    font-style: normal;
    /* font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50; */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
    cursor: pointer;
    
    
    /* font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
    
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.32em;
    
}

nav a {
    text-decoration: none;
    color: white;
    transition: color .3s ease;
}

nav a:hover {
    color: #7842f5; /* Change the color on hover */
    /* rgb(196, 17, 92); Change the color on hover */
}

/* END NAV */
/* Start About */

.container{
    width: 100%;
    gap: 30px;
    display: grid;
    margin-top: 30px;
    grid-template-columns: auto 2fr 1fr;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  
}
.about-text{
    display: flex;
    flex-direction: column;
    /* grid-column: 1/4; */
 
}
.about-text h2{
    color: aliceblue;
    font-size: bold;
}
.about-text p{
    color: rgba(255, 255, 255, 0.808);
    font-size: 1.0em;
    text-align:justify;
}

.button {
    display: flex;
    background-color: #ffffff;
    color: rgb(24, 23, 23);
    padding: 0.3rem 1rem;
    font-size: 0.750rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 1rem;
    border: none;
    cursor: pointer;
    transition: .3s ease;
    width: 12.5em;
    justify-content: center;
  }
  
  .button svg {
    height: 30px;
    color: rgb(24, 23, 23);
    background-color: rgb(24, 23, 23);
    border-radius: 1em;
  }
  .button a {
    color: rgb(24, 23, 23);
    text-decoration: none;
  }
  .button:hover {
    transform: scale(1.06);
  }

  .IMG-div{
    /* background-color: #7842f5; */
    /* width: 100%;  */
    height: 30em;
    
}
.IMG-div img{
    height: 100%;
    width: auto;
    border-radius: 1.1em;
    margin-left: 40px;
}
.IMG-div:hover{
    animation: bounce; 
}
  
/* END About */
/* Start Projects */
.projects{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.projects h1{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: aliceblue;
    font-size: 2.7em bold;
    margin-bottom: 41px;
}

.projects-container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(24rem,1fr));;
    justify-items: center;
}
/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
  } */
  .card {
    width: 24rem;
    height: 36rem;
    border-radius: 10px ;
    border: rebeccapurple;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  }
  .card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
  }
  .card h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2em;
}
.card p, .card a {
    font-size: .8em;
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }
  .card p {
    inset: auto auto 80px 30px;
  }
  .card a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  .card:hover h2 {
    inset: auto auto 200px 14px;
    transition: inset 0.3s ease-out;
  }
  .card:hover p, .card:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
  }
  .card:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
  }
  .material-symbols-outlined {
    vertical-align: middle;
  }

  
/* end Projects */
/* Start contact*/
.contact{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}
.contact h1{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: aliceblue;
    font-size: 2.7em bold;
}
.contact p{
    color: rgba(255, 255, 255, 0.808);
    font-size: 1.2em;
    text-align:justify;
}
.contact a {
    color: #7842f5;
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* end contact */


/* media queries */
@media only screen and (min-width:481px)and (max-width: 600px) {
   .IMG-div{
    display: none;
   }
   .container{
    gap: 0;
    padding: 20px;
    font-size: smaller;
   }
   nav{
        width: 105%;
   }
}
@media only screen and (min-width: 320px) and (max-width: 480px){
   .IMG-div{
    display: none;
   }
   .container{
    gap: 0;
    padding: 15px;
    font-size: 0.6em;
   }
   nav{
        width: 105%;
   }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .IMG-div{
     display: none;
    }
    .container{
     gap: 0;
     padding: 20px;
     font-size: medium;
    }
    /* Styles for medium screens */
}

